<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Care Watch Ireland</title>
  <link rel="stylesheet" href="./css/home.css">
</head>
<body>
<img src="images/banner.png" class="large-centre-img">
<div class="container">
  <!DOCTYPE html>
  <div id="header">
    <h1>Welcome to Care Watch Ireland</h1>
  </div>
</body>
</html>

</div>
<table width=auto align="center">
  <tbody>
  <tr>
    <td><iframe width="400" height="280" allowtransparency="true" scrolling="no" frameborder="no" src="https://widgets.wia.io/embed/wgt_r3XWZFq0/dev_Nudm1MwW"></iframe></td>
    <td><iframe width="400" height="280" allowtransparency="true" scrolling="no" frameborder="no" src="https://widgets.wia.io/embed/wgt_cxNY0as8/dev_Nudm1MwW"></iframe></td>
  </tr>
  </tbody>


  </div>

  <table width=auto cellspacing="10" cellpadding="10" align="center">
    <tbody>
    <tr>
      <td><a href="https://www.facebook.com" target="_blank"> <img src="images/facebook.png" alt="facebook" class="small-centre-img"></td>
      <td><a href="https://twitter.com" target="_blank"><img src="images/twitter.png" alt="twitter" class="small-centre-img"></td>
      <td><a href="https://www.instagram.com" target="_blank"><img src="images/instagram.png" alt="pinterest" class="small-centre-img"></td>
      <td><a href="mailto:info@carewatch.ie  ?subject=caring%20"><img src="images/contact.png" alt="contact us" class="small-centre-img"></td>
    </tr>
    </tbody>
    </body>
    </html>